body{

    background-color: mediumblue;
}

.palmeiras{

border: 10px;
border:solid;
background-color: chartreuse;

}
.neymar{

border: 10px;
border: solid;
background-color:rgb(241, 205, 58);
}
.hexa{

border:10px;
border:solid;
background-color: rgb(243, 231, 231);
}

